//==============================================================================================
// Include resource header files.
// ---------------------------------------------------------------------------------------------
// #include "afxres.h" // For Visual C++
#include "gs_resource.h"
#include <windows.h>
//==============================================================================================

//==============================================================================================
// Icon resources.
// ---------------------------------------------------------------------------------------------
// NOTES: Icon with lowest ID value placed first to ensure application icon remains consistent
//        on all systems.
// ---------------------------------------------------------------------------------------------
IDI_MAIN ICON DISCARDABLE "GameSystem.ico"
//==============================================================================================

//==============================================================================================
// Accelerator resources.
// ---------------------------------------------------------------------------------------------
IDR_MAIN_ACCEL ACCELERATORS DISCARDABLE
   BEGIN
      "X",       IDM_QUIT,       VIRTKEY, ALT, NOINVERT
      // VK_RETURN, IDM_CHANGEMODE, VIRTKEY, ALT, NOINVERT
   END
//==============================================================================================

//==============================================================================================
// Menu resources.
// ---------------------------------------------------------------------------------------------
IDR_MENU MENU DISCARDABLE
BEGIN
    POPUP "&Options"
    BEGIN
        // MENUITEM "Toggle Full-Screen\tAlt+Enter", IDM_CHANGEMODE
        // MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+X",                  IDM_QUIT
    END
END
//==============================================================================================
